


    <% if @user.name == nil %>
    <h1 style="color: white;">You haven't made a profile yet, click the link to create your profile</h1>
        <%= link_to  "Edit your profile", edit_user_registration_path, class: "btn btn-flat-orange" %>
    <% else %>

    <p> Name: <%= @user.name %></p>
  <p> Age: <%= @user.age %></p>
    <p> Gender: <%= @user.gender%></p>
    <p> Ethnicity: <%= @user.ethnicty %></p>
    <% end %>
