<h2>Edit <%= resource_name.to_s.humanize %></h2>
<% langs = ["ISIZULU",
"ISIXHOSA",
"SEPEDI (NORTH SOTHO)",
"SETSWANA",
"NDEBELE",
"SESOTHO (SOUTH SOTHO)",
"TSHIVENDA",
"TSONGA",
"SWAZI",
"ENGLISH",
"AFRIKAANS",
"SASL",
"KHOEKHOE",
"FRENCH",
"KISWAHILI",
"PORTUGUESE",
"SHONA",
"ARABIC",
"DUTCH",
"GERMAN",
"SOMALI",
"AMHARIC",
"HEBREW",
"YORUBA",
"OROMO",
"HAUSA",
"IGBO"].sort %>
<% ages =["[0-10]","[9-19]","[20-29]","[30-39]","[40-49]","[50-59]","[60-69]","[70-79]","[80 + ]"] %>
<% talents =["Singing", "Dancing", "Martial arts", "Sports", "Public Speaking", "Modeling"] %>
<div class="container">


<div class="row" style="background: black;"><div class="col-6" style="position:relative; margin: 0 auto;">




<h1 style="color:white;">Fill in the fields below to change your profile!</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" stl>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

<!--     <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %> -->
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
                <% if current_user.occupation == "Actor" %>
    <%= f.input :name, label: "Full Name" %>
    <%= f.input :age_range, collection:ages, label: "Age"%>
    <%= f.input :photo, as: :file, label:"Select Profile Picture" %>

    <%= f.input :gender, collection:["Male", "Female", "Non-Binary"], label: "Gender"%>
    <%= f.input :ethnicty, collection:["Black", "White","Mixed", "Asian", "Indian", "Racially Ambiguos" ], label: "Race/Ethnicity"%>
    <%= f.input :language, collection:langs, label: "Language "%>
    <%= f.input :bio, label: "Tell us about yourself?"%>
    <%= f.input :talents,collection:talents, label: "Extra talents"%>
    <%= f.input :socialmedia, label: "Your social media handles and/or links"%>


    <h3 style="color:white;"> Agent Details </h3>
    <%= f.input :agent_details, label: "If you have an agent, feel free to fill in their contact information here."%>

<!--     <%= f.input :images, as: :file, input_html: { multiple: true }, label:"Upload some additional pictures." %>
 -->
                <% else %>
    <%= f.input :name, label: "Company Name" %>
    <%= f.input :age, label: "Years of Experience"  %>
    <%= f.input :address, label: "Your Company Address"%>
    <%= f.input :bio, label: "Tell us about your Organisation?"%>
    <%= f.input :photo, as: :file, label:"Upload your company logo here." %>
    <%= f.input :socialmedia, label: "Your social media handles and/or links"%>
    <%= f.input :website, label: "Fill in a link to your Website."%>

<!--     <%= f.input :images, as: :file, input_html: { multiple: true }, label:"Upload some additional pictures." %>
 -->
                <% end %>
  <div class="form-actions">
    <%= f.button :submit, "Update", class: 'btn-flat-orange' %>
  </div>
<% end %>

  </div>



<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name),class:"btn-flat-orange", data: { confirm: "Are you sure?" }, method: :delete %></p>


</div></div>



</div>


<!-- ["isiZulu", "isiXhosa", "Venda", "Tswana", "Sotho", "Pedi", "Tsonga", "Swati", "English", "Afrikaans"] -->
