<div class="container" style="background: black; padding-left: 116px">
<% if @user.email == "kayla@gmail.com" %>
  <%= link_to edit_article_path do %>
  <h3 style=" color:white;">Edit article </h3>
  <% end %>
<% end %>

  <div class="row">
    <div class="col-12 my-5">
     <h2 style="text-align: center"> <%= @article.title.upcase %></h2>
     <h5 style="padding-left: 16px;text-align: center;"> By <%= @article.author %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    <%= cl_image_tag @article.image.key, height: 600, width: 1000, crop: :mpad %>

    </div>
  </div>
  <br><br>



</div>

  <div class="container" style="background: black; padding-left: 116px">

  <div class="row">

    <div class="col-8">

        <p style="color: white; font-size: 16px;"><%= @article.paragraph_one %></p>
      <br>
          <p style="color: white;"><%= @article.paragraph_two %></p>
      <br>
          <p style="color: white;"><%= @article.paragraph_three %></p>
      <br>
          <p style="color: white;"><%= @article.paragraph_four %></p>
      <br>
          <p style="color: white;"><%= @article.paragraph_five %></p>
      <br>
          <p style="color: white;"><%= @article.paragraph_six %></p>
      <br>


    </div>

    <div class="col-4"> <%=  image_tag('ad.png')%> </div>
  </div>


  </div>

