<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
                <%= cl_image_tag @u.photo.key, height: 300, width: 400, crop: :fill %>


                    <p> Name: <%= @u.name %></p>
                  <p>Age: <%= @u.age %></p>
                    <p> Gender: <%= @u.gender%></p>
                    <p> Ethnicity: <%= @u.ethnicty %></p>
