<div class="container">

<h3 style="color:white; margin-top: 24px;"> <%=@private_brief.title.upcase  %> </h3>

<div class="row"><div class="col-8">

<table style="width:50%; color: white; font-size:20px;">
 <tr style="border-bottom: solid 1px";>
    <th style="font-size: 20px;">CHARACTER INFORMATION</th>
  </tr>
   <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;">Age: <td style="color:white;"> <%= @private_brief.age %> </td> </td>
  </tr>

   <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;" > Name:  <td style="color:white;"><%= @private_brief.name %>  </td> </td>
  </tr>

  <tr>
    <td style="color:#CCA459;">Ethnicity: <td style="color:white;"><%= @private_brief.ethnicty %>  </td> </td>
  </tr>
  <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;" >Gender: <td style="color:white;"> <%= @private_brief.gender %> </td></td>
  </tr>

  <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;">Marital Status: <td style="color:white;"> <%= @private_brief.marital_status %>  </td> </td>
  </tr>
   <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;">Languages Required: <td style="color:white;"> <%= @private_brief.language %> </td> </td>
  </tr>
   <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;">Profession: <td style="color:white;"> <%= @private_brief.profession %></td> </td>
  </tr>
  <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;"> Home Town: <td style="color:white;">  <%= @private_brief.hometown %> </td> </td>
  </tr>
   <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;">Current Home: <td style="color:white;"> <%= @private_brief.current_home %> </td> </td>
  </tr>
    <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;">Wants: <td style="color:white;"> <%= @private_brief.wants %>  </td> </td>
  </tr>
   <tr style="border-bottom: solid 1px";>
    <td style="color:#CCA459;">Needs: <td style="color:white;"> <%= @private_brief.needs %> </td>  </td>
  </tr>
  <tr style="border-bottom: solid 1px;">
    <td style="color:#CCA459;">Traits: <td style="color:white;"> <%= @private_brief.traits %> </td> </td>
  </tr>
  <tr style="border-bottom: solid 1px;">
    <td style="color:#CCA459;">Flaws: <td style="color:white;">  <%= @private_brief.flaws %> </td>  </td>
  </tr>
  <tr style="border-bottom: solid 1px";>
    <td style=" color:#CCA459;" >Arc Summary: <td style="color:white;"> <%= @private_brief.arc_summary %> </td>  </td>
  </tr>

<!--     <td>Age  <%= @private_brief.age %> </td>
  </tr>
  <tr>
    <td>Age  <%= @private_brief.age %> </td>
  </tr>
  <tr>
    <td>Age  <%= @private_brief.age %> </td>
  </tr>
 -->



</table>
<div class="mt-5">

       <%= link_to "Download script", (url_for(@private_brief.scene)), class: "btn-flat-orange" %>

</div>


</div>


<div class="col-4">

       <% if @user.occupation == "Actor" %>

       <h3 style="color:white; font-size: 24px;">WHEN YOU ARE READY, PLEASE ATTACH YOUR AUDITION HERE:</h3>

        <br>
        <br>
        <div class="row">

          <div class="col-12">

        <div class="accordion" id="accordionExample" style="background: #CCA459;">
          <div class="card">
            <div class="card-header" id="headingOne" style="background: #CCA459;
;">
              <h2 class="mb-0">
                <button class="btn btn-link " style="background: #CCA459;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <strong> Upload Audition</strong>
               </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
              <div class="form_inputs">
                <div class="new-form-inputs">
              <%= simple_form_for [@private_audition] do |f| %>

              <div class="form_inputs">
                <div class="new-form-inputs">
                <%= f.input :title, label: "the title of your audition" %>
                <%= f.input :video, as: :file, :resource_type => :video%>
                <%= f.input :private_brief_id, :as => :hidden, :input_html => { :value => @private_brief.id } %>
                <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

            </div>
          </div>
        </div>

        <%= f.button :submit, class: "btn btn-flat-orange", value: "Submit Audition" %>

          </div>
        </div>
</div>
</div>
</div>
</div>
</div>
<% end %>
       <% else %>
       <h3 style="color: white;"> THE FOLLOWING AUDITIONS HAVE BEEN SUBMITTED:</h3>
       <p> currently there are <%= "#{@auditions.length}" %> auditions to watch</p>
        <% @auditions.each do |audition|%>
        <%= link_to audition_path(audition) do %>

       <div class="brief-links">

<!--               <p> <%= audition.title %></p>
 -->              <h5 style="color: white;"> <%= audition.user.name.upcase %> </h5>
              <% end %>
       </div>

       <% end %>

<% end %>





</div>
</div>
       <br>
       <br>


</div>


<% if @user.occupation == "Actor" %>

  <div class="container">

  <h3 style="padding-bottom:56px; padding-top: 56px; color:white;"> IF THIS BRIEF SEEMS SUSPICIOUS TO YOU IN ANY WAY, PLEASE REPORT IT BELOW </h3>

  <!-- Button trigger modal -->
                <%= simple_form_for [@pbreason] do |f| %>
  <button type="button" class="btn-flat-orange" data-toggle="modal" data-target="#exampleModal">
  Report this brief</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reasons for Reporting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


                        <div class="form_inputs">
                  <div class="new-form-inputs">

                <div class="form_inputs">
                  <div class="new-form-inputs">


      <div class="ts d-flex" style="justify-content: space-between;">

        <p style="color:#CCA459;"> Human trafficking</p>

                   <%= f.check_box :human_trafficking, label: "Suspected Human trafficking" %>

      </div>
          <div class="ts d-flex" style="justify-content: space-between;">

        <p style="color:#CCA459;"> Brief seems suspicious and generally unsafe</p>

                   <%= f.check_box :unsafe, label: "Brief seems suspicious and generally unsafe" %>

      </div>

          <div class="ts d-flex" style="justify-content: space-between;">

        <p style="color:#CCA459;"> Sexually explicit content or requests</p>

                   <%= f.check_box :sexual_content, label: "Sexual Content" %>

      </div>

          <div class="ts d-flex" style="justify-content: space-between;">

        <p style="color:#CCA459;"> Child Abuse</p>

                   <%= f.check_box :child_abuse, label: "Child abuse" %>

      </div>

              <div class="ts d-flex" style="justify-content: space-between;">

        <p style="color:#CCA459;"> The production company does not seem legitimate</p>

                   <%= f.check_box :not_legit, label: "Production Company does not seem legitimate" %>

      </div>
                  <%= f.input :private_brief_id, :as => :hidden, :input_html => { :value => @private_brief.id } %>
                  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

              </div>
            </div>
          </div>

          <%= f.button :submit, class: "btn btn-flat-orange", value: "Report brief" %>

            </div>
        </div>

      </div>
    </div>
  </div>

  </div>

   <% end %>

<% end %>


