<nav class="navbar navbar-default navbar-fixed-top navbar-lewagon">
    <div class="container-fluid">
        <div class="navbar-header">

            <div class="new-nav-logo" style="display: flex; justify-content: space-between; align-items: flex-end;">
<div class="row">
  <div class="col-6">
  <%= link_to pages_home_path do %>
         <div class=" fill navbar-left logo" style="height: 125px; width:300px;">
          <%= image_tag "LOGO4.png" %>
          </div>
          <% end %>

  </div>
</div>


<!--     <div class="navbar-left" style="float:left; color: #CCA459; font-weight: bold; font-size: 24px; margin-left: 20px;"><i class="brand brand-name navbar-left" style="color: #CCA459;">Casting With Ease</i>
        </div> -->

            </div>

    </div>

<div class="col-6">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in?%>
        <% if @user.email == "kayla@gmail.com" %>
            <li class="nav-item">
              <%= link_to "New Article", new_article_path , class: "nav-link" %>
            </li>
            <% end %>
        <% if @user.photo.attached? %>
            <li class="nav-item active">
              <%= link_to "Home", pages_home_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Search actors", pages_searching_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Production companies", pages_searching_companies_path, class: "nav-link" %>
            </li>
            <% if @user.occupation == "Actor" %>
            <li class="nav-item active">
              <%= link_to "My auditions", dashboards_show_path, class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item active">
              <%= link_to "Create a brief", new_brief_path, class: "nav-link" %>
            </li>
            <% end %>
                    <li class="nav-item">
              <%= link_to "My profile", profile_path(current_user), class: "nav-link" %>
            </li>

          <li class="nav-item dropdown">
            <%= cl_image_tag @user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
<!--               <%= link_to "My Dashboard", dashboards_show_path , class: "dropdown-item" %>
 -->              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "Cancel my account", registration_path(@user), class: "dropdown-item", data: { confirm: "Are you sure?" }, method: :delete %>

            </div>
          </li>
        <% else %>
            <li class="nav-item active">
              <%= link_to "Home", pages_home_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Search actors", pages_searching_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Production companies", pages_searching_companies_path, class: "nav-link" %>
            </li>
              <% if @user.occupation == "Actor" %>
            <li class="nav-item active">
              <%= link_to "Briefs & Auditions", dashboards_show_path, class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item active">
              <%= link_to "Create a brief", new_brief_path, class: "nav-link" %>
            </li>
            <% end %>
                    <li class="nav-item">
              <%= link_to "My profile", profile_path(current_user), class: "nav-link" %>
            </li>

          <li class="nav-item dropdown">
            <%= image_tag "default-avatar.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
<!--               <%= link_to "My Dashboard", dashboards_show_path, class: "dropdown-item" %>
 -->              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "Cancel my account", registration_path(@user), class: "btn-flat-orange", data: { confirm: "Are you sure?" }, method: :delete %>

            </div>
          </li>
          <% end %>


      <% else %>
        <li class="nav-item active">
              <%= link_to "Home", pages_home_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
        <%= link_to "Search Actors", pages_searching_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
              <%= link_to "Production Companies", pages_searching_companies_path, class: "nav-link" %>
        </li>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        </li>
        <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
        </li>
      <% end %>
    </ul>
  </div>
</div>


</div>


</nav>


<div class="d-fle"style="align-items: right; position: relative; margin:40px 42px;">
  <p style="text-align: right; color: white; opacity: 0.7">STAY UPDATED: For up to date information about the COVID-19 pandemic please visit <a href="https://www.sacoronavirus.co.za" target="blank"><i style="color:blue; text-align:center;">www.sacoronavirus.co.za</i></a></p>

</div>
