<div class="container">
  <div class="row">
    <div class="col-6">
              <%= simple_form_for [@account_complaint] do |f| %>
<div>



<div>
<button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
Cancel my account</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">why do you want to cancel your account?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


                      <div class="form_inputs">
                <div class="new-form-inputs">

              <div class="form_inputs">
                <div class="new-form-inputs">


    <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> I am changing careers</p>

                 <%= f.check_box :career_changes, label: "Suspected Human trafficking" %>

    </div>
        <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> I am not recieving as many opportunities as i would like</p>

                 <%= f.check_box :not_recieving_briefs, label: "" %>

    </div>

        <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> I just dont like it. </p>

                 <%= f.check_box :dont_like_it, label: "" %>

    </div>

        <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> I am unsatisfied with my experience</p>

                 <%= f.check_box :unsatisfied, label: "" %>

    </div>

            <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> I dont find the app to be useful. </p>

                 <%= f.check_box :not_useful, label: "" %>

    </div>
                <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

            </div>
          </div>
        </div>

        <%= f.button :submit, class: "btn btn-flat-orange", value: "submit reasons" %>

          </div>
      </div>

    </div>
  </div>
</div>

 <% end %>



</div>


</div>
    </div>
  </div>
</div>
<!--               <%= link_to "Cancel my account", registration_path(@user), class: "btn-flat-orange", data: { confirm: "Are you sure?" }, method: :delete %>
