
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "oscar-award.jpg" %>);">
    <div class="container">
      <h1 style="font-size: 3.75rem; font-weight: 700;">Pictor - <strong> Simplifying Casting </strong> on <strong>Both Ends</strong>!</h1>
      <h2 class="mt-3"style=" font-weight: 1.25rem; color:white; opacity: 0.7; text-align: center;">The perfect platform to find talent, or showcase your own. Our modern approach to casting connects actors and production companies with ease. Dream chasing made easy.</h2>

    <% if @user.name == nil %>
    <br><br><br>
    <p style= ' color:white; opacity: .7; font-weight: 400;'> We noticed you haven't created your profile yet. To do so, click <a style= ' color:white; opacity: .7; font-weight: bold;'><%= link_to "here", edit_user_registration_path %> </a>  </p> <p style= 'opacity: .7; font-weight: bold;'> to add your personal touches!</p>
    <% end %>
        </div>
      </div>

        <div class="banner" style=" /*background-color: black;  */ background-image: linear-gradient(  black,#C4C2B7);" >
    <div class="container" style="background-color: transparent;">
      <div class="row" style="background-color: transparent; ">
        <div class="col-6" style="position: relative; margin:0 auto; justify-content: center;">
          <h1 style="font-size:3.0rem; color: white; opacity:0.7; text-align: center"> <strong>Need an agent?</strong></h1>
          <br><br>
          <p class="mt-3" style='text-align: center; font-size: 1.4rem; color: white; opacity:.7'> Many actors have agents that find and manage their auditions for them. Agents also assist in Negotiating their rates and contracts and making sure that the actors rights are protected. If you're looking for an agent, visit www.bla.com to start browsing. </p>

        </div>
        <div class="col-6">
          <h1 style="color: white; opacity:0.7; font-size:3.0rem; text-align: center;"> Popular agencies</h1>
          <div class="col-12">
          <div class="study-links-new mt-5">

              <div>
              <%= link_to "http://thespians.co.za/",target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "thespians.png" %>
                <a href="https://www.afda.co.za/" target="blank" style="color: black;align-items: center;"><i style="color: black;"> Thespians </i></a>
              </div>
              <% end %>


              </div>

              <div>

              <%= link_to "http://www.contractors.org.za/", target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "contractors.jpg" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: black"><i style="color: black;">Contractors </i></a>
              </div>
              <% end %>

              </div>

              <div>

               <%= link_to "https://legends.co.za/",target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "legends.png", class: "legends-pic" %>
                <a href="https://www.afda.co.za/" target="blank" style="color: black;align-items: center;"><i style="color: black;"> Legends </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "https://talent-etc.co.za/ ", target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "talent.png" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: black"><i style="color: black;">Talent Artist Agency </i></a>
              </div>
              <% end %>

              </div>


          </div>


          </div>
       </div>
        </div>
      </div>
    </div>

    <div class="banner" style="/*background-color:#C4C2B7;*/ background-image: linear-gradient( #C4C2B7, black);">
      <div class="container">
        <div class="row" style="padding: ]24px;">
          <div class="col-12 col-lg-6 mt-5">
            <h3 style="font-size:2.75rem; color: black; font-weight:500; padding-left: 50px;" > Test your industry Knowledge</h3>
            <div class="mt-3 tests-grid" style="position: relative; margin:0 auto;">

              <div class="weekly-quiz mt-3">

                <div style="position: relative; margin:0 auto;">

              <div class="quiz-image"> <%= image_tag "quiz.jpg" %> </div>

              <div style="background-color:white; width: 300px; height:auto;border: solid 4px;">

            <p style="font-size: 1.75rem; "> <%= link_to "Weekly Quiz", "#", class: "quiz"  %>  </p>
              </div>


                </div>

              </div>


              <div class="weekly-quiz mt-3" >

              <div class="quiz-image"> <%= image_tag "did-you.png" %> </div>

              <div style="background-color:white; width: 300px; height:auto;border: solid 4px;">
            <p style="font-size: 1.75rem; color:black;  "> <%= link_to " Learn something", "#", class: "quiz-2" %>  </p>
              </div>

              </div>

            </div>
          </div>
            <div class="col-12 col-lg-6 mt-5" style="position: relative; margin:0 auto; justify-content: center;">
              <h1 style="font-size:3.0rem; text-align: center; padding-left: -100px; padding-top: 72px;"> <strong style="color: black;">Acting Tips</strong></h1>
              <p class="mt-3" style='text-align: center; font-size: 1.4rem; color: black; opacity:.9; padding-left: -100px'> We recently did an interview with Daniel Jardine, and he shared some of his acting tips and insights with us. </p>
              <div class="d-flex" style="justify-content: center; padding-left: -100px">
                <a class="nav-item" style=""><%= link_to "Read more", new_user_registration_path, class: "btn btn-flat-orange mt-3" %></a>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div class="banner" style=" background-color: black;" >
    <div class="container" style="background-color: black;">
      <div class="row" style="background-color: black; ">
        <div class="col-8 col-lg-6" style="justify-content: center; align-items: center; padding-top: 40px;">

          <div style="width: 75%; margin-left: 64px; position:relative; margin:0 auto;">

          <h1 style="font-size:3.0rem; color: white; opacity:0.7; text-align: left"> <strong>Further your studies</strong></h1>
          <p class="mt-3" style='text-align: left; font-size: 1.4rem; color: white; opacity:.7'> It's never too late to get an education. South Africa has a number of unique acting schools through which you can hone your skills. Find out more by clicking any of the links. For a more complete list of your options click <%= link_to "#" do %> <strong style="color:white; opacity:1; font-weight:bolder;"> here</strong> <% end %></p>
          </div>
          <div class="mt-5">
          </div>
        </div>

        <div class="col-4 d-flex" style="justify-content:right; padding-top: 56px;">
            <div style="position:relative; margin:0 auto;">

          <%= image_tag "student.jpeg",  class: "studies-pic schools"%>
            </div>
        </div>
<div class="col-12">

          <div class="study-links-new-1 mt-5" style="position: relative; margin: 0 auto; padding-top: 56px;">

              <div>

              <%= link_to "https://www.afda.co.za/",target: :_blank do %>
              <div  style="width: 243px; height:84px; text-align: center;">
                <%= image_tag "afda.png" %>
                <a href="https://www.afda.co.za/" target="blank" style="color: black;align-items: center;"><i style="color: white; font-size:1.25rem;"> AFDA </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "http://www.artschool.co.za/ ", target: :_blank do %>
              <div  style="width: 243px; height:84px;text-align: center;">
                <%= image_tag "nsa.jpg" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: white"><i style="color: white; font-size:1.25rem;">NSA </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "https://www.wits.ac.za/wsoa/theatre--performance/",target: :_blank do %>
              <div  style="width: 243px; height:84px;text-align: center;">
                <%= image_tag "wits.jpg" %>
                <a href="https://www.wits.ac.za/wsoa/theatre--performance/" target="blank" style="color: white;align-items: center;"><i style="color: white; font-size:1.25rem;"> Wits University </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "https://www.uj.ac.za/faculties/humanities/school-of-communication/Pages/The-Department-of-Journalism,-Film---Television.aspx ", target: :_blank do %>
              <div  style="width: 243px; height:84px;text-align: center;">
                <%= image_tag "uj.jpg" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: white"><i style="color: white; font-size:1.25rem;">UJ </i></a>
              </div>
              <% end %>

              </div>


          </div>

</div>
        </div>
      </div>
    </div>





<% if @articles != [] && @last != nil %>
<div class="banner" style="background-color:white; opacity:0.7;">
<div class="container">
<div class="row" style="background:white;">
  <h1 class="my-5" style="text-align: center; color: black; font-size: 3.75rem;font-weight:900; position: relative; margin: 0 auto; padding-left: 148px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2); padding-top: 100px; padding-bottom: 25px; padding-right: 56px;" > <strong>  Industry News </strong></h1>
  <div class="col-12 col-md-12 col-lg-12 " style="position: relative;">
    <div id="carouselExampleIndicators" class="carousel slide custom-slider" data-ride="carousel"style="width: 750px; position: relative; margin: 0 auto;">
        <div class="carousel-inner"style="width: 750px;" style="position: relative; margin:0 auto;">
          <div class="carousel-item active" style="position: relative; margin:0 auto;">
            <h3 style="text-align: center; color: black; font-weight: 700; font-size:2.25rem; padding-bottom: 40px;">  <%= @last.title.capitalize %> </h3>
            <div class="carousel-img-container d-flex justify-content-center" style="border:solid 4px;">
    <%= cl_image_tag @last.image.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100 lala" %>
            </div>

                <div class="carousel-caption d-none d-md-block">
    <div class="mt-5">
    <p><%= link_to "Read More", article_path(@last), class: "btn btn-flat-orange"%></p>

    </div>
    </div>

          </div>
              <% @articles_without_latest.each do |article| %>
          <div class="carousel-item" style="position: relative; margin:0 auto;">
                        <h3 style="text-align: center; color: black; font-size:2.25rem; font-weight: 700; padding-bottom: 40px;">  <%= article.title.capitalize %> </h3>

            <div class="carousel-img-container d-flex justify-content-center" style="border:solid 4px;">
     <%= cl_image_tag article.image.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100" %>
            </div>

    <div class="carousel-caption d-none d-md-block">
    <div class="mt-5">
    <p><%= link_to "Read More", article_path(article), class: "btn btn-flat-orange" %></p>

    </div>
    </div>


          </div>
            <% end %>

        </div>

        <br><br>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
  </div>
<div class="news-split mt-5 mb-5" style>

  <div class="container">
    <h4 style="color: black;">  <span style="padding: 0 16px; font-size:2.25rem; font-weight:750; position:relative; margin:0 auto;"> Pictor Online    </span>  </h4>
<p class="mb-3" style="text-align: center; color: black; font-size:1.75rem; font-weight:550; padding-bottom: 16px;">Latest</p>
<div class="articles-grid">

  <% @latest.each do |article| %>

      <div class=".col-8  "style="border-bottom: solid 1px;">
        <%= link_to article_path(article) do %>
        <div style="padding-left: 120px; ">
<%= cl_image_tag article.image.key, height: 200, width: 300, crop: :fill, class: "art-cover" %>

        </div>
        <% end %>
        <div class="pt-5 pb-3" style="padding-left: 120px;" >

      <h2 style=" color:black; text-align: left; font-size:22px; font-weight:700;"><%= article.title.capitalize %></h2>
      <p class="mb-5 mt-3" style="font-size: 18px; color:black; opacity:0.7; text-align: left; font-weight:700;"><%= article.description.capitalize %> </p>

        </div>
    </div>
<% end %>

</div>
  </div>
<div class="row" style="margin-top:60px;">
  <div class="col-12 col-lg-8" style="position:relative; margin:0 auto; align-items: center;">
    <h3 style="position: relative; margin: 0 auto; font-weight:700; text-align: center; color: black; font-size:2.5rem; padding-top: 85px;">What's happening in the film and television industry? Keep up to date with these websites</h3 style="position: relative; margin: 0 auto; ">


  </div>


<div class="col-6" style="position:center; margin:0 auto; padding-top: 80px;">

<div class="mt-3 tests-grid pb-5" style="position: relative; margin: 0 auto; color:black; text-align: center;">

<div>
<%= link_to "https://www.actorspaces.co.za/" , target: :_blank do%>
  <div class=" quiz-image">

    <%= image_tag "Actors-space.png.png" %>
  </div>
  <% end %>

</div>

<div class=""style="background-color:white; color:black; width:300px; height:150px;">
<%= link_to "https://filmcontact.com/" , target: :_blank, class: "fc" do%>
  <div class=" fc " style="align-items: center;">
    <p style="color: white;"> FilmContact.com</p>
  </div>
  <% end %>

</div>

</div>

</div>


</div>
<% end %>

  </div>

</div>

</div>

