<div class="container">
  <div class="row">
    <div style="padding-top: 24px; padding-bottom: 24px;"><h3>Please let us know why you would like to cancel your account.</h3></div>
    <div class="col-6">
              <%= simple_form_for [@account_complaint] do |f| %>
<div>



<div>

<!--  -->



                      <div class="form_inputs">
                <div class="new-form-inputs">

              <div class="form_inputs">
                <div class="new-form-inputs">


            <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> The application was not useful. </p>

                 <%= f.check_box :not_useful, label: "" %>

    </div>

        <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> Using this application was too costly. </p>

                 <%= f.check_box :not_recieving_briefs, label: "" %>

    </div>

        <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> There is another website or application that I prefer. </p>

                 <%= f.check_box :dont_like_it, label: "" %>

    </div>

        <div class="ts d-flex" style="justify-content: space-between;">

      <p style="color:#CCA459;"> It was hard to navigate and/or use. </p>

                 <%= f.check_box :unsatisfied, label: "" %>

    </div>

                <div class="ts d-flex" style="justify-content: space-between;color:#CCA459;">


                 <%= f.input :custom, label: " Custom reason", class: "custom-text" %>

    </div>

            </div>
          </div>
        </div>
<div style="padding-left: 48px;">

        <%= f.button :submit, class: "btn btn-flat-orange", value: "Submit Reasons" %>
</div>

          </div>
      </div>

    </div>
  </div>
</div>

 <% end %>



</div>
