
<% if user_signed_in? %>
<div class="banner mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "header.jpg" %>);">
  <div class="container">
    <h1>Enactor connects <strong>talented people</strong> with <strong>the world</strong>!</h1>
    <p>Enactor’s mission is to give actors and production companies (marketing agencies, theatre companies, film productions) the ability to easily find the actor they wish to have in their projects, and to simplify the process of auditioning with the aid of online auditions. To help them save both time and money. Click here to find out how! It is also a great tool to use during the Covid 19 pandemic to lessen face to face auditions.</p>
      <% if @user.name == nil %>
      <br><br><br>
    <p style= ' color:white; opacity: .7; font-weight: bold;'> We noticed you haven't created your profile yet. To do so, click <a style= ' color:white; opacity: .7; font-weight: bold;'><%= link_to "here", edit_user_registration_path %> </a>  </p> <p style= 'opacity: .7; font-weight: bold;'> to add your personal touches!</p>
      <% end %>
<!--     <a class="nav-item"><%= link_to "Get Started", new_user_registration_path, class: "btn btn-flat-orange" %></a>
 -->  </div>
</div>
<% else %>
  <div class="banner mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "header.jpg" %>);">
  <div class="container">
    <h1>Enactor connects <strong>talented people</strong> with <strong>the world</strong>!</h1>
    <p>Enactor’s mission is to give actors and production companies (marketing agencies, theatre companies, film productions) the ability to easily find the actor they wish to have in their projects, and to simplify the process of auditioning with the aid of online auditions. To help them save both time and money. Click here to find out how! It is also a great tool to use during the Covid 19 pandemic to lessen face to face auditions.</p>
    <a class="nav-item"><%= link_to "Get Started", new_user_registration_path, class: "btn btn-flat-orange" %></a>
  </div>
</div>
<% end %> <br>
<h3 class="m-5" style="text-align: center; color: white;" > INDUSTRY NEWS:</h3>
<% if @articles != [] && @last != nil %>


<div class="row" style="background:black;"><div class="col-12">

<div class="container">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= cl_image_tag @last.image.key, height: 500, width: 1000, crop: :fill %>
    <div class="carousel-caption d-none d-md-block">
    <h5><%= @last.title %></h5>
    <p><%= link_to "Read More", articles_path(@last)%></p>
    </div>
    </div>
    <% @articles.each do |article| %>

    <div class="carousel-item">
    <%= cl_image_tag article.image.key, height: 500, width: 1000, crop: :fill %>
    <div class="carousel-caption d-none d-md-block">
    <h5><%= article.title.upcase %></h5>
    <div class="mt-5">
    <p><%= link_to "Read More", article_path(article), class: "btn-flat-dis" %></p>

    </div>
    </div>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

<% end %>

<div>


</div>

  <ol class="carousel-indicators">
    <% @articles.each do |article| %>
    <li data-target="#carouselExampleControls" data-slide-to="0" class="active">
    <div class="card-product">
    <%= cl_image_tag article.image.key, height: 250, width: 250, crop: :fill %>
      <div class="card-product-infos">
<!--         <h2> <%= article.title %></h2>
<p><strong><%= article.description %></strong></p> -->
        <p> <%= link_to "Read More", articles_show_path(article), class: "btn-ghost"%> </p>
      </div>
    </div>
    </li>
    <% end %>
  </ol>

</div>
<!-- <div class="row"><div class="col-9">

<div class="container-3">
  <% @articles.each do |article| %>
  <div class="container">
    <div class="card-product">
    <%= cl_image_tag article.image.key, height: 250, width: 250, crop: :fill %>
      <div class="card-product-infos">
        <h2> <%= article.title %></h2>
        <p><strong><%= article.description %></strong></p>
        <p> <%= link_to "Read More", articles_show_path(article), class: "btn-ghost"%> </p>
      </div>
    </div>
  </div>
  <% end %>
  </div>



</div>
<br><br>
</div> -->

</div>

</div>






<!-- </div> -->


<br><br><br>

  </div>
<div class="row" style="background:black;">
  <div class="col-12" style="background-color: black;">

<!-- <div style="display: flex; justify-content:space-between;background-color:black;">
 -->
<!-- <div class="pages-links" style="display: flex; justify-content: space-around; position: absolute; background: black;">
 -->



<!-- <div class="pages" style="display: flex; justify-content: space-around;position: relative;">

 <div class="clicky" style="background-color: black">
    <%= link_to pages_how_it_path do %>
      <div class="image-links">
        <%= image_tag "how.jpeg" %>
        <p style="color: white;">How it works</p>
      </div>
      <% end %>
  </div>


  <div class="clicky">
    <%= link_to pages_mission_path do %>
      <div class="image-links">
        <%= image_tag "vision.jpeg" %>
        <p style="color: white;">Vision and Mission</p>
      </div>
    <% end %>
  </div>


  <div class="clicky">
    <%= link_to pages_staff_path do %>
      <div class="image-links">
        <%= image_tag "staff.jpeg" %>
        <p style="color: white;">Our Staff</p>
      </div>
      <% end %>
  </div>


</div> -->


</div>





</div>
<!-- </div>
 -->

