
<% if user_signed_in? %>
  <% if @user.occupation == "Actor" %>
<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "oscar-award.jpg" %>);">
    <div class="container">
      <h1 style="font-size: 3.75rem; font-weight: 700;">Pictor - <strong> Simplifying Casting </strong> on <strong>Both Ends</strong>!</h1>
      <h2 class="mt-3"style=" font-weight: 1.25rem; color:white; opacity: 0.7; text-align: center;">The perfect platform to find talent, or showcase your own. Our modern approach to casting connects actors and production companies with ease. Dream chasing made easy.</h2>

    <% if @user.name == nil %>
    <br><br><br>
    <p style= ' color:white; opacity: .7; font-weight: 400;'> We noticed you haven't created your profile yet. To do so, click <a style= ' color:white; opacity: .7; font-weight: bold;'><%= link_to "here", edit_user_registration_path %> </a>  </p> <p style= 'opacity: .7; font-weight: bold;'> to add your personal touches!</p>
    <% end %>
        </div>
      </div>

</div>


  <div class="banner" style=" background-color: black;" >
    <div class="container" style="background-color: black;">
      <div class="row" style="background-color: black; ">
        <div class="col-6" style="position: relative; margin:0 auto; justify-content: center;">
          <h1 style="font-size:3.0rem; color: white; opacity:0.7; text-align: center"> <strong>Need an agent?</strong></h1>
          <br><br>
          <p class="mt-3" style='text-align: center; font-size: 1.35rem; color: white; opacity:.7'> Many actors have agents that find and manage their auditions for them. Agents also assist in Negotiating their rates and contracts and making sure that the actors rights are protected. If you're looking for an agent, visit www.bla.com to start browsing. </p>

        </div>
        <div class="col-6">
          <h2 style="color: white; opacity:0.7; font-size:2.5rem; text-align: center;"> Popular agencies</h2>
          <div class="study-links-new mt-5">

              <div>
              <%= link_to "http://thespians.co.za/",target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "thespians.png" %>
                <a href="https://www.afda.co.za/" target="blank" style="color: black;align-items: center;"><i style="color: black;"> Thespians </i></a>
              </div>
              <% end %>


              </div>

              <div>

              <%= link_to "http://www.contractors.org.za/", target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "contractors.jpg" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: black"><i style="color: black;">Contractors </i></a>
              </div>
              <% end %>

              </div>

              <div>

               <%= link_to "https://legends.co.za/",target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "legends.png", class: "legends-pic" %>
                <a href="https://www.afda.co.za/" target="blank" style="color: black;align-items: center;"><i style="color: black;"> Legends </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "https://talent-etc.co.za/ ", target: :_blank do %>
              <div  style="width: 243px; height:84px;">
                <%= image_tag "talent.png" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: black"><i style="color: black;">Talent Artist Agency </i></a>
              </div>
              <% end %>

              </div>


          </div>
       </div>
        </div>
      </div>
    </div>

    <div class="banner" style="background-color:#C4C2B7;">
      <div class="container">
        <div class="row" style="padding: ]24px;">
          <div class="col-6 mt-5">
            <h3 style="font-size:2.75rem;" > Test your industry Knowledge</h3>
            <div class="mt-3">
            <p style="font-size: 1.75rem;"> <%= link_to "Weekly Quiz", "#", class: "quiz"  %>  </p>
            <p style="font-size: 1.75rem; color:black;"> <%= link_to "Did you know?", "#", class: "quiz" %>  </p>

            </div>
          </div>
            <div class="col-6 mt-5" style="position: relative; margin:0 auto; justify-content: center;">
              <h1 style="font-size:3.0rem; text-align: center;"> <strong style="color: black;">Acting Tips</strong></h1>
              <p class="mt-3" style='text-align: center; font-size: 1.35rem; color: black; opacity:.9'> We recently did an interview with Daniel Jardine, and he shared some of his acting tips and insights with us. </p>
              <div class="d-flex" style="justify-content: center;">
                <a class="nav-item" style=""><%= link_to "Read more", new_user_registration_path, class: "btn btn-flat-orange mt-3" %></a>
              </div>
            </div>
        </div>
      </div>
  </div>


  <div class="banner" style=" background-color: black;" >
    <div class="container" style="background-color: black;">
      <div class="row" style="background-color: black; ">
        <div class="col-6" style="position: relative; margin:0 auto; justify-content: center;">
          <h1 style="font-size:3.0rem; color: white; opacity:0.7; text-align: center"> <strong>Further your studies</strong></h1>
          <p class="mt-3" style='text-align: center; font-size: 1.35rem; color: white; opacity:.7'> its never too late to get an education. South Africa has a number of unique acting schools through which you can hone your skills. Find out more by clicking any of the links. for a more complete list of your options click here</p>
          <div class="mt-5">
          </div>
        </div>

          <div class="study-links-new-1 mt-5" style="position: relative; margin: 0 auto;">

              <div>

              <%= link_to "https://www.afda.co.za/",target: :_blank do %>
              <div  style="width: 243px; height:84px; text-align: center;">
                <%= image_tag "afda.png" %>
                <a href="https://www.afda.co.za/" target="blank" style="color: black;align-items: center;"><i style="color: white;"> AFDA </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "http://www.artschool.co.za/ ", target: :_blank do %>
              <div  style="width: 243px; height:84px;text-align: center;">
                <%= image_tag "nsa.jpg" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: white"><i style="color: white;">NSA </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "https://www.wits.ac.za/wsoa/theatre--performance/",target: :_blank do %>
              <div  style="width: 243px; height:84px;text-align: center;">
                <%= image_tag "wits.jpg" %>
                <a href="https://www.wits.ac.za/wsoa/theatre--performance/" target="blank" style="color: white;align-items: center;"><i style="color: white;"> Wits University </i></a>
              </div>
              <% end %>

              </div>

              <div>

              <%= link_to "https://www.uj.ac.za/faculties/humanities/school-of-communication/Pages/The-Department-of-Journalism,-Film---Television.aspx ", target: :_blank do %>
              <div  style="width: 243px; height:84px;text-align: center;">
                <%= image_tag "uj.jpg" %>
                <a href="http://www.artschool.co.za/ "target="blank" style="color: white"><i style="color: white;">UJ </i></a>
              </div>
              <% end %>

              </div>


          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @user.occupation == "Production Company" %>

    <div class="container">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path "oscar-award.jpg" %>);">
      <h1 style="font-size: 3.75rem; font-weight: 700;">Pictor - <strong> Simplifying Casting </strong> on <strong>Both Ends</strong>!</h1>
      <h2 class="mt-3"style=" font-weight: 1.25rem; color:white; opacity: 0.7; text-align: center;">The perfect platform to find talent, or showcase your own. Our modern approach to casting connects actors and production companies with ease. Dream chasing made easy.</h2>

    <% if @user.name == nil %>
    <br><br><br>
    <p style= ' color:white; opacity: .7; font-weight: 400;'> We noticed you haven't created your profile yet. To do so, click <a style= ' color:white; opacity: .7; font-weight: bold;'><%= link_to "here", edit_user_registration_path %> </a>  </p> <p style= 'opacity: .7; font-weight: bold;'> to add your personal touches!</p>
    <% end %>
        </div>
      </div>


  <div class="banner" style=" background-color: black;" >
    <div class="container" style="background-color: black;">
      <div class="row" style="background-color: black; ">
        <div class="col-6" style="position: relative; margin:0 0; justify-content: left;">
          <h1 style="font-size:3.0rem; color: white; opacity:0.7; text-align: left"> <strong>Industry updates</strong></h1>
          <p class="mt-3" style='text-align: left; font-size: 1.35rem; color: white; opacity:.7'> Find equipment that suits your company's budget. </p>
          <p style="text-align: left;">Equipment stores in Johannesburg</p>

          <div class="mt-5">
            <div class="d-flex" style="justify-content: center;">
            </div>
          </div>
        </div>
        <div class="col-6 mb-5">

          <h1 style="font-size:2.75rem; opacity: 0.7; text-align: center;"> Whats being filmed?</h1>

          <div class="shows mt-5">

            <div style="height: 150px; width:150px;">
              <%= image_tag 'blood-and-water.jpeg' %>
            </div>

            <div style="height: 150px; width:150px;">
              <%= image_tag 'isono.jpeg' %>
            </div>


            <div style="height: 150px; width:150px;">
              <%= image_tag 'skeem-saam.jpg' %>
            </div>


          </div>

        </div>
<br><br><br>
        <div class="col-6 mt-5" style="">
          <h3 style="font-size:2.75rem; color: white; opacity:0.7"> The Gauteng Film ommission </h3>
          <p> bringing you all the relevant information and support you need for your films.  click <%= link_to "here", "http://www.gautengfilm.org.za/industry-development/project-support" %> to visit their website and find out more. </p>
                    <div class="mb-5 mt-5" style="position: relative; margin: 0 auto;">
            <%= link_to "http://www.gautengfilm.org.za/industry-development/project-support", target: :_blank do %>
            <div> <%=  image_tag "gfc-logo.png" %> </div>
            <% end %>

          </div>
          </div>
<!--           <div class="col-6">

          <div class="d-flex" style="justify-content: space-between; align-items: center;">

          <div class="mb-5 mt-5" style="position: relative; margin: 0 auto;">
            <%= link_to "http://www.gautengfilm.org.za/industry-development/project-support", target: :_blank do %>
            <div> <%=  image_tag "gfc-logo.png" %> </div>
            <% end %>

          </div>

          </div>



          </div> -->

        </div>
      </div>
    </div>
  <div class="banner" style="background-color:#C4C2B7;">


  <div class="container">
<div class="mt-5"style="position:relative; margin:0 auto;">

    <div class="row" >
      <div class="col-9"style="position:relative; margin:0 auto; text-align: center;">
<h1 style="font-size:2.75rem"> Find your nearest equiptment store</h1>
        <p style="color: white; opacity:0.7;">Search your desired location in the field below</p>
      </div>
      <div class="col-4" style="position:relative; margin:0 auto;">
        <%= form_tag stores_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Location"
          %>
            <%= button_tag(type: "submit", class: "btn btn-flat") do %>
              <i class="fas fa-search"></i> Search
            <% end %>
        <% end %>
      </div>
    </div>

<div id="map"
     style="width: 70%; height: 500px;position:relative; margin:0 auto;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


</div>


  </div>



</div>


  <% end %>

<% else %>
<div class="container">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "oscar-award.jpg" %>);">
  <div class="container">
    <h1 style="font-size: 3.75rem; font-weight: 700;">Pictor - <strong> Simplifying Casting </strong> on <strong>Both Ends</strong>!</h1>
<!--     <p>Pictor’s mission is to give actors and production companies (marketing agencies, theatre companies, film productions) the ability to easily find the actor they wish to have in their projects, and to simplify the process of auditioning with the aid of online auditions. To help them save both time and money. Click here to find out how! It is also a great tool to use during the Covid 19 pandemic to lessen face to face auditions.</p>
 -->
 <h2 class="mt-3"style=" font-weight: 1.25rem; color:white; opacity: 0.7; text-align: center;">The perfect platform to find talent, or showcase your own. Our modern approach to casting connects actors and production companies with ease. Dream chasing made easy.</h2>

 </div>
</div>


</div>
 <br>

    <div class="banner" style=" background-color: black;" >

      <div class="container" style="background-color: black;">

        <div class="row" style="background-color: black; ">

      <div class="col-6" style="position: relative; margin:0 auto; justify-content: center;">

    <h1 style="font-size:3.0rem; color: white; opacity:0.7; text-align: center"> <strong>Showcase your talent</strong></h1>
    <p class="mt-3" style='text-align: center; font-size: 1.35rem; color: white; opacity:.7'> Sign up and become a part of a database of actors. Become more accessible and discoverable, agent or no agent. Fill in your details to match with casting briefs best suited to you! Add pictures and videos to give your profile a personal touch! </p>
<div class="mt-5">

<div class="d-flex" style="justify-content: center;">
    <a class="nav-item mt-5" style=""><%= link_to "Get Started", new_user_registration_path, class: "btn btn-flat-orange" %></a>

</div>

</div>

    </div>

    <div class="col-6 fill">

<%= image_tag 'Social-Media.webp', class: "mb-5" %>    </div>


<div class="study-links mt-5" style="position:relative; margin:0 620px">

<p style="color:white; opacity:0.7; font-size:1.5rem;">Want to study Acting? Some schools to consider</p>
<div class="d-flex" style="justify-content: space-between; width: 500px;">
  <%= link_to "https://www.afda.co.za/",target: :_blank do %>
<div  style="width: 243px; height:84px;">
  <%= image_tag "afda.png" %>
  <a href="https://www.afda.co.za/" target="blank" style="color: black;align-items: center;"><i style="color: black;"> AFDA </i></a>
</div>
<% end %>
  <%= link_to "http://www.artschool.co.za/ ", target: :_blank do %>
<div  style="width: 243px; height:84px;">
  <%= image_tag "nsa.jpg" %>
  <a href="http://www.artschool.co.za/ "target="blank" style="color: black"><i style="color: black;">NSA </i></a>
</div>
<% end %>

</div>


</div>

        </div>

      </div>

</div>

  <!-- <div class="banner" style="background-color: #C4C2B7"> -->
    <div class="banner" style="background-color:#C4C2B7;">

      <div class="container">
        <div class="row" style="padding: ]24px;">

        <div class="col-6 fill mt-5">

    <%= image_tag 'castingt.png', class: "mb-5" %>    </div>


          <div class="col-6 mt-5" style="position: relative; margin:0 auto; justify-content: center;">

        <h1 style="font-size:3.0rem; text-align: center;"> <strong style="color: black;">Looking for actors?</strong></h1>
        <p class="mt-3" style='text-align: center; font-size: 1.35rem; color: black; opacity:.9'> Gain access to a database of actors in South Africa. Production Companies/ casting directors can send casting briefs directly to actors and manage the audition process entirely online. </p>
    <div class="d-flex" style="justify-content: center;">


        <a class="nav-item" style=""><%= link_to "Get Started", new_user_registration_path, class: "btn btn-flat-orange mt-3" %></a>
    </div>
        </div>
    </div>
    </div>
  </div>
<% end %>

<% if @articles != [] && @last != nil %>


<div class="row" style="background:black;"><div class="col-12" style="background-color: white;opacity: 0.7;">
  <h1 class="my-5" style="text-align: center; color: black; font-size: 3.75rem; opacity:0.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);" > <strong>  Industry News </strong></h1>
  <div class="col-12 col-md-6" style="position: relative; margin:0 auto;">
    <div id="carouselExampleIndicators" class="carousel slide custom-slider" data-ride="carousel"style="width: 750px;">
        <div class="carousel-inner"style="width: 750px;">
          <div class="carousel-item active">
            <div class="carousel-img-container d-flex justify-content-center">
    <%= cl_image_tag @last.image.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100" %>
            </div>

                <div class="carousel-caption d-none d-md-block">
    <div class="mt-5">
    <p><%= link_to "Read More", article_path(@last), class: "btn btn-flat-orange"%></p>

    </div>
    </div>

          </div>
              <% @articles_without_latest.each do |article| %>
          <div class="carousel-item">
            <div class="carousel-img-container d-flex justify-content-center">
     <%= cl_image_tag article.image.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100" %>
            </div>

    <div class="carousel-caption d-none d-md-block">
    <div class="mt-5">
    <p><%= link_to "Read More", article_path(article), class: "btn btn-flat-orange" %></p>

    </div>
    </div>


          </div>
            <% end %>

        </div>

        <br><br>
<!--           <div class="container pt-4 pb-5">
    <div class="row carousel-indicators">
      <div class="col-md-4 item">
        <%= link_to article_path(@last) do %>
<div>
<%= cl_image_tag @last.image.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100 img-fluid", :data_target => "carouselExampleIndicators", :data_slide_to => 0 %>
</div>
     <% end %>

     </div>
     <% @articles_without_latest.each do |article| %>
      <div class="col-md-4 item">
      <%= link_to article_path(article) do %>

<div>

<%= cl_image_tag article.image.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100 img-fluid", :data_target => "carouselExampleIndicators", :data_slide_to => @articles_without_latest.index(article) %>

</div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div> -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
  </div>
<div class="news-split mt-5 mb-5" style>
  <div class="container">


<h4 style="color: black;">  <span style="padding: 0 16px; font-size:2.0rem;"> Pictor Online    </span>  </h4>
<p class="mb-3" style="text-align: center; color: black; font-size:1.5rem;">Latest</p>
<div class="articles-grid">
  <% @latest.each do |article| %>

      <div style="border-bottom: solid 1px; border-color: #181B1E; align-items:center">
        <div style="padding-left: 30px;">
<%= cl_image_tag article.image.key, height: 200, width: 300, crop: :fill %>

        </div>
        <div class="py-5" >

      <h2 style=" color:black; text-align: left; font-size:22px; font-weight:400;"><%= article.title %></h2>
      <p class="mb-5 mt-3" style="font-size: 18px; color:black; opacity:0.8; text-align: left;"><%= article.description %> </p>

        </div>
    </div>
<% end %>

</div>
</div>
<div class="row" style="margin-top:60px;">
  <div class="col-8" style="position:relative; margin:0 auto; align-items: center;">
    <h3 style="position: relative; margin: 0 auto; font-weight:500; text-align: center; color: black;">What's happening in the film and television industry? Keep up to date by visiting the following websites</h3 style="position: relative; margin: 0 auto; ">

<div class="mt-3" style="position: relative; margin: 0 auto; color:black; text-align: center;">

<ul>
  <li>
  <%= link_to "www.filmcontact.com", "https://filmcontact.com/", class: "info-link"%>

  </li>

  <li>
      <%= link_to "www.actorspaces.co.za/", "https://www.actorspaces.co.za/", class: "info-link" %>

  </li>
</ul>
</div>

  </div>
</div>
<% end %>

  </div>
</div>
</div>
