
<% if user_signed_in? %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "header.jpg" %>);">
  <div class="container">
    <h1>Enactor connects <strong>talented people</strong> with <strong>the world</strong>!</h1>
    <p>Connect with production companies and audition from anywhere.</p>
<!--     <a class="nav-item"><%= link_to "Get Started", new_user_registration_path, class: "btn btn-flat-orange" %></a>
 -->  </div>
</div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "header.jpg" %>);">
  <div class="container">
    <h1>Enactor connects <strong>talented people</strong> with <strong>the world</strong>!</h1>
    <p>Connect with production companies and audition from anywhere.</p>
    <a class="nav-item"><%= link_to "Get Started", new_user_registration_path, class: "btn btn-flat-orange" %></a>
  </div>
</div>
<% end %>

<div style="display: flex; justify-content:space-around;">

<div class="pages-links" style="display: flex; justify-content: space-around; position: absolute; bottom: 0;">
  <div class="clicky">
    <%= link_to pages_how_it_path do %>
      <div class="image-links">
        <%= image_tag "how.jpeg" %>
        <p>How it works</p>
      </div>
      <% end %>
  </div>


  <div class="clicky">
    <%= link_to pages_mission_path do %>
      <div class="image-links">
        <%= image_tag "vision.jpeg" %>
        <p>Vision and Mission</p>
      </div>
    <% end %>
  </div>


  <div class="clicky">
    <%= link_to pages_staff_path do %>
      <div class="image-links">
        <%= image_tag "staff.jpeg" %>
        <p>Our Staff</p>
      </div>
      <% end %>
  </div>


</div>




</div>


