<div class="container mt-5">

  <div class="search-bar mt-5" style="margin-left:-80px;">


  <h3 class="mb-4">FIND AN ACTOR BY NAME IN THE FIELD BELOW</h3>
    <div class="row">
    <div class="col-4" >

 <%= form_tag pages_searching_path method: :get do %>
<div style=" display:flex; justify-content: space-around;">

 <p style="">

  <%= text_field_tag :query,
    params[:query],
    class: "form-control standard",
    placeholder: "Search Actors"
  %>

 </p>
<p style="margin-left: 40px;"> <%= submit_tag "Search", class: "btn btn-flat-orange-search" %> </p>


</div>
<% end %>

</div>
</div>

  </div>
<br><br><br>


<div class="cards" style="margin-left: -144px;">
 <% @users.each do |user| %>
      <%= render 'shared/user_card', user: user %>
<!--
      <% if @user.email == "kayla@gmail.com" %>
      <%= link_to "Delete User", destroy_path(user), class: "btn-flat-orange mt-3", data: { confirm: "Are you sure?" }%>
      <% end %> -->
  <% end %>
</div>

</div>
