<% langs = ["ISIZULU",
"ISIXHOSA",
"SEPEDI (NORTH SOTHO)",
"SETSWANA",
"NDEBELE",
"SESOTHO (SOUTH SOTHO)",
"TSHIVENDA",
"TSONGA",
"SWAZI",
"ENGLISH",
"AFRIKAANS",
"SASL",
"KHOEKHOE",
"FRENCH",
"KISWAHILI",
"PORTUGUESE",
"SHONA",
"ARABIC",
"DUTCH",
"GERMAN",
"SOMALI",
"AMHARIC",
"HEBREW",
"YORUBA",
"OROMO",
"HAUSA",
"IGBO"].sort %>

<% ages =["[0-10]","[9-19]","[20-29]","[30-39]","[40-49]","[50-59]","[60-69]","[70-79]","[80 + ]"] %>
<% provinces= ["Gauteng", "Western Cape", "Eastern Cape", "Northern Cape", "Kwa-Zulu Natal", "Free State", "Mpumalanga", "Limpopo", "North West"] %>
<div class="container">








 <%= simple_form_for [@brief] do |f| %>
<div class="row mt-5">

<div class="col-6">
  <h2>Information for matching with suitable members of our database</h2>
   <%= f.input :age_range, collection:ages, label: "Age"%>
    <%= f.input :gender, collection:["Male", "Female", "Non-Binary"], label: "Gender"%>
    <%= f.input :gender, collection:["Male", "Female", "Non-Binary"], label: "Gender"%>
    <%= f.input :ethnicty, collection:["Black", "White","Mixed", "Coloured", "Asian", "Indian", "Racially Ambiguos" ], label: "Race/Ethnicity"%>
    <%= f.input :language, collection:langs, label: "Language Required"%>
</div>

  <div class="col-6">
<h2 style="padding-bottom:32px;">  Company Details</h2>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
   <%= f.input :title, label: "Your company name" %>
   <%= f.input :showtitle, label: "The name and the show" %>
    <%= f.input :province, collection:provinces, label: "Select a province to find actors in"%>

  </div>


<div class="col-6" style="margin-top: 32px;">
  <h2 >Character Information</h2>

                <%= f.input :name, label: "Name of character" %>
                <%= f.input :hometown, label: "Home-town."%>
                <%= f.input :current_home, label: "Current Home-town."%>
                <%= f.input :profession, label: "Profession "%>
                <%= f.input :marital_status, collection:["Single", "Married"], label: " Marital Status"%>
                <%= f.input :wants, label: "Wants."%>
                <%= f.input :needs, label: "Needs."%>
                <%= f.input :traits, label: "Traits."%>
                <%= f.input :flaws, label: "Flaws."%>
                <%= f.input :arc_summary, label: "Arc Summary" %>
                <%= f.input :scene, as: :file, :resource_type => :raw %>
        <%= f.button :submit, class: "btn btn-flat-orange mt-5", value: "Create Brief" %>

</div>

          <% end %>

</div>


</div>

