<% langs = ["ISIZULU",
"ISIXHOSA",
"SEPEDI (NORTH SOTHO)",
"SETSWANA",
"NDEBELE",
"SESOTHO (SOUTH SOTHO)",
"TSHIVENDA",
"TSONGA",
"SWAZI",
"ENGLISH",
"AFRIKAANS",
"SASL",
"KHOEKHOE",
"FRENCH",
"KISWAHILI",
"PORTUGUESE",
"SHONA",
"ARABIC",
"DUTCH",
"GERMAN",
"SOMALI",
"AMHARIC",
"HEBREW",
"YORUBA",
"OROMO",
"HAUSA",
"IGBO"].sort %>

<% ages =["[0-10]","[9-19]","[20-29]","[30-39]","[40-49]","[50-59]","[60-69]","[70-79]","[80 + ]"] %>
<div class="container">


<div class="mt-5">
<h3 style="color: white; text-align: center;">Create a brief by filling out the form below.</h3>
  <div class="row"><div class="col-6" style="position: relative; margin: 0 auto;">

        <div class="accordion" id="accordionExample" style="background: #b5076b;">
          <div class="card">
            <div class="card-header" id="headingOne" style="background: #b5076b;">
              <h2 class="mb-0">
                <button class="btn btn-link " type="button" style="background: #b5076b;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <strong> Click here to customise the acting brief</strong>
               </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
              <%= simple_form_for [@brief] do |f| %>

              <div class="form_inputs">
                <div class="new-form-inputs">
                <%= f.input :title, label: "your company name and title of show" %>
                    <%= f.input :name, label: "Name of character" %>
<!--                     <%= f.input :age, label: "Age"  %>
   -->                <%= f.input :age_range, collection:ages, label: "Age"%>

 -->                <%= f.input :gender, collection:["Male", "Female", "Non-Binary"], label: "Gender"%>
                <%= f.input :ethnicty, collection:["Black", "White","Mixed", "Asian", "Indian", "Racially Ambiguos" ], label: "Race/Ethnicity"%>
                <%= f.input :marital_status, collection:["Single", "Married"], label: " Marital Status"%>
                <%= f.input :language, collection:langs, label: "Language "%>
                <%= f.input :profession, label: "Profession "%>

                <%= f.input :hometown, label: "Home-town."%>
                <%= f.input :current_home, label: "Current Home-town."%>
                <%= f.input :wants, label: "Wants."%>
                <%= f.input :needs, label: "Needs."%>
                <%= f.input :traits, label: "Traits."%>
                <%= f.input :flaws, label: "Flaws."%>
                <%= f.input :arc_summary, label: "Arc Summary" %>
<!--                 <%= f.input :attachment, as: :file, label:"Click here to attach scripts." %>
                 -->

                <%= f.input :scene, as: :file, :resource_type => :raw %>

                <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

            </div>
          </div>
        </div>

        <%= f.button :submit, class: "btn btn-flat-orange", value: "Create Brief" %>


    </div>
  </div>


  <% end %>
</div>




</div></div>


</div>

</div>
