<div class="container">

<h3 style="color:white; margin-top: 24px;"> <%=@brief.title.upcase  %> </h3>

<div class="row"><div class="col-8">

<table style="width:50%; color: white; font-size:20px;">
  <tr>
    <th style="font-size: 20px;">CHARACTER INFORMATION</th>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Age: <p style="color:white;"> <%= @brief.age_range %> </p> </td>
  </tr>

  <tr style="font-size: 20px;">
    <td style="color:#eaa81b;" > Name:  <p style="color:white;"><%= @brief.name %>  </p> </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Ethnicity: <p style="color:white;"><%= @brief.ethnicty %>  </p> </td>
  </tr>  <tr>
    <td style="color:#eaa81b;" >Gender: <p style="color:white;"> <%= @brief.gender %> </p></td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Marital Status: <p style="color:white;"> <%= @brief.marital_status %>  </p> </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Languages Required: <p style="color:white;"> <%= @brief.language %> </p> </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Profession: <p style="color:white;"> <%= @brief.profession %></p> </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;"> Home Town: <p style="color:white;">  <%= @brief.hometown %> </p> </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Current Home: <p style="color:white;"> <%= @brief.current_home %> </p> </td>
  </tr>
   <tr>
    <td style="color:#eaa81b;">Wants: <p style="color:white;"> <%= @brief.wants %>  </p> </td>
  </tr>
   <tr>
    <td style="color:#eaa81b;">Needs: <p style="color:white;"> <%= @brief.needs %> </p>  </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Traits: <p style="color:white;"> <%= @brief.traits %> </p> </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Flaws: <p style="color:white;">  <%= @brief.flaws %> </p>  </td>
  </tr>
  <tr>
    <td style="color:#eaa81b;">Arc Summary: <p style="color:white;"> <%= @brief.arc_summary %> </p>  </td>
  </tr>

<!--     <td>Age  <%= @brief.age %> </td>
  </tr>
  <tr>
    <td>Age  <%= @brief.age %> </td>
  </tr>
  <tr>
    <td>Age  <%= @brief.age %> </td>
  </tr>
 -->



</table>
<div class="mt-5">

       <%= link_to "Download script", (url_for(@brief.scene)), class: "btn-flat-orange" %>

</div>


</div>


<div class="col-4">

       <% if @user.occupation == "Actor" %>

       <h3 style="color:white; font-size: 24px;">WHEN YOU ARE READY, PLEASE ATTACH YOUR AUDITION HERE:</h3>

        <br>
        <br>
        <div class="row">

          <div class="col-12">

        <div class="accordion" id="accordionExample" style="background: #b5076b;">
          <div class="card">
            <div class="card-header" id="headingOne" style="background: #b5076b;">
              <h2 class="mb-0">
                <button class="btn btn-link " style="background: #b5076b;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <strong> Upload Audition</strong>
               </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
              <div class="form_inputs">
                <div class="new-form-inputs">
              <%= simple_form_for [@audition] do |f| %>

              <div class="form_inputs">
                <div class="new-form-inputs">
                <%= f.input :title, label: "the title of your audition" %>
                <%= f.input :video, as: :file, :resource_type => :video%>
                <%= f.input :brief_id, :as => :hidden, :input_html => { :value => @brief.id } %>
                <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

            </div>
          </div>
        </div>

        <%= f.button :submit, class: "btn btn-flat-orange", value: "Submit Audition" %>

          </div>
        </div>
</div>
</div>
</div>
</div>
</div>
<% end %>
       <% else %>
       <h3 style="color: white;"> THE FOLLOWING AUDITIONS HAVE BEEN SUBMITTED:</h3>
       <p> currently there are <%= "#{@auditions.length}" %> auditions to watch</p>
        <% @auditions.each do |audition|%>
        <%= link_to audition_path(audition) do %>

       <div class="brief-links">

<!--               <p> <%= audition.title %></p>
 -->              <h5 style="color: white;"> <%= audition.user.name.upcase %> </h5>
              <% end %>
       </div>

       <% end %>

<% end %>





</div>
</div>
       <br>
       <br>


</div>

<!-- <table style="width:100%; color: white">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> -->

