
<div class="container">

  <div class="mt-5">


    <% if @user.occupation == "Actor" %>

<div class="row " style="border:solid 4px;border-color:#CCA459; border-radius: 4px;"><div class="col-6" style=" padding: 16px;">
<h2 class="mb-5" style="text-decoration: underline; color:#CCA459; font-weight: bold; ">OPPORTUNITIES</h2>
      <h3 style="color:#CCA459;">NEW</h3>
      <% if @matching_briefs == []  %>
        <p style="color:white; font-size: 1.5rem; ">Currently, there are no briefs that match your profile</p>

      <% else %>
        <% @matching_briefs.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 1.5rem;"><%= brief.title %></p>
                </div>
          </div>
            <% end %>


                  <div class="col-3 d-flex" style="">
            <%= link_to acceptb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p class="mr-5"style="font-size: 1.5rem; color: green;"> ACCEPT</p>
            <% end %>
            <%= link_to declineb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: red;"> DECLINE</p>
            <% end %>
          </div>


        <% end %>

      <% end %>

    <br>


    <h3 style="color:#CCA459;"> ACCEPTED </h3>
    <% if @accepted ==[] %>
      <p style="color:white;font-size: 1.5rem;"> Currently you have not accepted any briefs.</p>
    <% else %>

        <% @accepted.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 1.5rem;"><%= brief.title %></p>
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <%= link_to deleteb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: blue;"> DELETE</p>
            <% end %>
              </div>
          </div>
            <% end %>
            <% end %>

    <% end %>
    <br>
            <h3 style="color:#CCA459;"> DECLINED</h3>

            <% if @declined ==[] %>

      <p style="color:white;font-size: 1.5rem;"> Currently you have not declined any briefs.</p>

            <% else %>

        <% @declined.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 1.5rem;"><%= brief.title %></p>
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <%= link_to deleteb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: blue;"> DELETE</p>
            <% end %>
              </div>
          </div>
            <% end %>
            <% end %>

            <% end %>

<br>

</div>
<div class="col-6" style="padding: 16px;">
  <h2 class="mb-5" style="text-decoration: underline;font-weight: bold; color:#CCA459; ">PRIVATE REQUESTS</h2>

    <h3 style="color: #CCA459;"> YOU'VE BEEN REQUESTED FOR: </h3>
    <% if @my_private_briefs ==[] %>
      <p style="color:white;font-size: 1.5rem;"> Nothing yet. Your time is coming!</p>
    <% else %>
    <% @my_private_briefs.each do |brief| %>
      <%= link_to private_brief_path(brief) do %>
        <div> <p style="color:white;font-size: 1.5rem;"> <%= brief.title %></p></div>
      <% end %>
          <div class="col-3 d-flex justify-content-between">
            <%= link_to acceptinvite_path(private_invite_id: brief.private_invites.first.id, private_brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p class="mr-5"style="font-size: 1.5rem; color: green;"> ACCEPT</p>
              <% end %>

            <%= link_to declineinvite_path(private_invite_id: brief.private_invites.first.id, private_brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: red;"> DECLINE</p>
              <% end %>
          </div>
    <% end %>

    <% end %>

    <h3 class="" style="color: #CCA459; margin-top: 40px;"> ACCEPTED: </h3>
    <% if @accepted_pbs != [] %>
          <% @accepted_pbs.each do |brief| %>
      <%= link_to private_brief_path(brief) do %>
        <div> <p style="color:white;font-size: 1.5rem;"> <%= brief.title %></p></div>
                        <div class="col-3 d-flex justify-content-between">
                    <%= link_to deletepb_path(private_invite_id: brief.private_invites.first.id, private_brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: blue;"> DELETE</p>
            <% end %>
              </div>
      <% end %>
      <% end %>

      <% else %>

      <p style="color:white;font-size: 1.5rem;"> Currently, you have not accepted any private requests</p>

      <% end %>

      <h3 style="color: #CCA459; margin-top: 40px;" class=""> DECLINED: </h3>
    <% if @declined_pbs != [] %>
          <% @declined_pbs.each do |brief| %>
      <%= link_to private_brief_path(brief) do %>
        <div> <p style="color:white;font-size: 1.5rem;"> <%= brief.title %></p></div>
      <% end %>
      <% end %>
      <% else %>

      <p style="color:white;font-size: 1.5rem;"> Currently, you have not declined any private requests</p>
      <% end %>



</div>






<div class="col-6" style="padding: 16px;">
  <h2 class="mb-5" style="text-decoration: underline;font-weight: bold; color:#CCA459; ">IN MY PROVINCE</h2>

    <h3 style="color: #CCA459;"> WHATS HAPPENING NEAR YOUR HOME? </h3>
    <% if @province_briefs == [] %>
      <p style="color:white;font-size: 1.5rem;"> Nothing yet. Your time is coming!</p>
    <% else %>

    <% @province_briefs.each do |brief| %>
      <%= link_to brief_path(brief) do %>
        <div> <p style="color:white;font-size: 1.5rem;"> <%= brief.title %></p></div>
      <% end %>

                  <div class="col-3 d-flex" style="">
            <%= link_to acceptb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p class="mr-5"style="font-size: 1.5rem; color: green;"> ACCEPT</p>
            <% end %>
            <%= link_to declineb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: red;"> DECLINE</p>
            <% end %>
          </div>
    <% end %>

    <% end %>


    <h3 class="mt-3" style="color:#CCA459; padding-top: 24px;"> ACCEPTED </h3>
    <% if @accepted_provincial ==[] %>
      <p style="color:white;font-size: 1.5rem;"> Currently you have not accepted any briefs in your province.</p>
    <% else %>

        <% @accepted_provincial.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 1.5rem;"><%= brief.title %></p>
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <%= link_to deleteb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: blue;"> DELETE</p>
            <% end %>
              </div>
          </div>
            <% end %>
            <% end %>

    <% end %>
    <br>
            <h3 class= "mt-3"style="color:#CCA459;"> DECLINED</h3>

            <% if @declined_provincial ==[] %>

      <p style="color:white;font-size: 1.5rem;"> Currently you have not declined any briefs in your province.</p>

            <% else %>

        <% @declined_provincial.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 1.5rem;"><%= brief.title %></p>
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <%= link_to deleteb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 1.5rem; color: blue;"> DELETE</p>
            <% end %>
              </div>
          </div>
            <% end %>
            <% end %>

            <% end %>




</div>


</div>


<div class="mybox mt-5"style="border: solid 4px; border-color:#CCA459; border-radius: 4px; padding: 16px;">

<h2 class="mb-5" style="text-decoration: underline; color:#CCA459; font-weight: bold; ">MY PAST AUDITIONS</h2>

<div class="row">


  <div class="col-6">


    <h3 style="color:#CCA459;">MY AUDITIONS</h3>
    <% if @myauditions ==[] %>
      <p style="color:white;font-size: 1.5rem;">You have no auditions being reviewed at the moment.</p>
    <% else %>
      <% @myauditions.each do |audition| %>
        <%= link_to audition_path(audition) do %>
          <div> <p style="color:white;font-size: 1.5rem;"> <%= audition.title %></p></div>
          <% end %>
          <% end %>
    <% end%>
    <br>
    </div>

<div class="col-6">


    <h3 style="color:#CCA459;">PRIVATE AUDITIONS.</h3>


    <% if @my_private_auditions ==[] %>
      <p style="color:white;font-size: 1.5rem;"> You havent been selected for a private audition or have not yet submitted your audition video for your private auditions</p>

    <% else %>
      <% @my_private_auditions.each do |audition| %>
        <%= link_to private_audition_path(audition) do %>
          <div> <p style="color:white;font-size: 1.5rem;"> <%= audition.title %></p></div>
          <% end %>
        <% end %>
    <% end%>

</div></div>


</div>
<% if @user.email == "kayla@gmail.com" %>
<div class="row">
  <div class="col-6">
    <h1 style="padding-top: 50px;">  Briefs that have been reported </h3>
<% @reasons.each do |reason| %>
<div class="reason" style="color:  #CCA459; font-size:1.5rem;">

  <h3  style="color"><%= reason.brief.title %> </h3 style="color: white">

<% if reason.human_trafficking? %>
  <h5 style="color: white">Human Trafficking</h5 style="color: white">
<% end %>
<% if reason.unsafe? %>
  <h5 style="color: white">generally unsafe</h5 style="color: white">
<% end %>
<% if reason.child_abuse? %>
  <h5 style="color: white">child abuse</h5 style="color: white">
<% end %>
<% if reason.sexual_content? %>
  <h5 style="color: white">sexually explicit request</h5 style="color: white">
<% end %>
<% if reason.not_legit? %>
  <h5 style="color: white">Not a legitimate company</h5 style="color: white">
<% end %>
</div>
<% end %>

  </div>
</div>
<% end %>




<% if @user.email == "kayla@gmail.com" %>

<div class="row">

  <div class="col-6">
        <h1 style="padding-top: 50px;">  briefs recieved privately that have been reported</h3>
<% @pbreasons.each do |reason| %>
<div class="reason" style="color:  #CCA459; font-size:1.5rem;">
<% if reason.private_brief !=nil %>
  <h3  style="color"><%= reason.private_brief.title %> </h3 style="color: white">

<% end %>

<% if reason.human_trafficking? %>
  <h5 style="color: white">Human Trafficking</h5 style="color: white">
<% end %>
<% if reason.unsafe? %>
  <h5 style="color: white">generally unsafe</h5 style="color: white">
<% end %>
<% if reason.child_abuse? %>
  <h5 style="color: white">child abuse</h5 style="color: white">
<% end %>
<% if reason.sexual_content? %>
  <h5 style="color: white">sexually explicit request</h5 style="color: white">
<% end %>
<% if reason.not_legit? %>
  <h5 style="color: white">Not a legitimate company</h5 style="color: white">
<% end %>
</div>
<% end %>

  </div>
</div>

<% end %>
<br>




    <% else %>
<h2 class="mb-5" style="text-decoration: underline; color:#CCA459; font-weight: bold; ">COMPANY BRIEFS</h2>

    <div class="row"><div class="col-6">
    <h3 style="color: #CCA459;">SENT TO GENERAL PUBLIC</h3>

    <% @my_briefs.each do |brief| %>
      <%= link_to brief_path(brief) do %>
        <div> <p style="color:white;font-size: 1.5rem;"> <%= brief.title %></p> </div>
    <% end %>
    <% end %>


    </div>

<div class="col-6">



    <h3 style="color: #CCA459;">SENT PRIVATELY</h3>
      <% @invite_briefs.each do |brief| %>
        <%= link_to private_brief_path(brief) do %>
          <div> <p style="color:white;font-size: 1.5rem;"> <%= brief.title %></p> </div>
        <% end %>
      <% end %>


</div>
  </div>
    <% end %>


  </div>



</div>
