
<div class="container">

  <div class="mt-5">


    <% if @user.occupation == "Actor" %>

<div class="row"><div class="col-6" style="border: solid 1px; border-color:#CCA459; border-radius: 4px; padding: 16px;">
<h2 class="mb-5" style="text-decoration: underline; color:#CCA459; font-weight: bold; ">OPPORTUNITIES</h2>
      <h3 style="color:#CCA459;">NEW</h3>
      <% if @matching_briefs == []  %>
        <p style="color:white; font-size: 20px;">Currently, there are no briefs that match your profile</p>

      <% else %>
        <% @matching_briefs.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 20px;"><%= brief.title %></p>
                </div>
          </div>
            <% end %>


                  <div class="col-3 d-flex" style="">
            <%= link_to acceptb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 20px; color: green;"> ACCEPT</p>
            <% end %>
            <%= link_to declineb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 20px; color: red;"> DECLINE</p>
            <% end %>
          </div>


        <% end %>

      <% end %>

    <br>


    <h3 style="color:#CCA459;"> ACCEPTED </h3>
    <% if @accepted ==[] %>
      <p style="color:white;font-size: 20px;"> Currently you have not accepted any briefs.</p>
    <% else %>

        <% @accepted.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 20px;"><%= brief.title %></p>
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <%= link_to deleteb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 20px; color: blue;"> DELETE</p>
            <% end %>
              </div>
          </div>
            <% end %>
            <% end %>

    <% end %>
    <br>
            <h3 style="color:#CCA459;"> DECLINED</h3>

            <% if @declined ==[] %>

      <p style="color:white;font-size: 20px;"> Currently you have not declined any briefs.</p>

            <% else %>

        <% @declined.each do |brief| %>
          <div class="match">
            <%= link_to brief_path(brief) do %>
                <div>
                  <p style="color:white;font-size: 20px;"><%= brief.title %></p>
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <%= link_to deleteb_path(user_brief_id: brief.user_briefs.first.id, brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 20px; color: blue;"> DELETE</p>
            <% end %>
              </div>
          </div>
            <% end %>
            <% end %>

            <% end %>

<br>

</div>
<div class="col-6">
  <h2 class="mb-5" style="text-decoration: underline;font-weight: bold; color:#CCA459; ">PRIVATE REQUESTS</h2>

    <h3 style="color: #CCA459;"> YOU'VE BEEN REQUESTED FOR: </h3>
    <% if @my_private_briefs ==[] %>
      <p style="color:white;font-size: 20px;"> Nothing yet. Your time is coming!</p>
    <% else %>
    <% @my_private_briefs.each do |brief| %>
      <%= link_to private_brief_path(brief) do %>
        <div> <p style="color:white;font-size: 20px;"> <%= brief.title %></p></div>
      <% end %>
          <div class="col-3 d-flex justify-content-between">
            <%= link_to acceptinvite_path(private_invite_id: brief.private_invites.first.id, private_brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 20px; color: green;"> ACCEPT</p>
              <% end %>

            <%= link_to declineinvite_path(private_invite_id: brief.private_invites.first.id, private_brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 20px; color: red;"> DECLINE</p>
              <% end %>
          </div>
    <% end %>

    <% end %>

    <h3 style="color: #CCA459;"> ACCEPTED: </h3>
    <% if @accepted_pbs != [] %>
          <% @accepted_pbs.each do |brief| %>
      <%= link_to private_brief_path(brief) do %>
        <div> <p style="color:white;font-size: 20px;"> <%= brief.title %></p></div>
                        <div class="col-3 d-flex justify-content-between">
                    <%= link_to deletepb_path(private_invite_id: brief.private_invites.first.id, private_brief_id: brief.id), method: :patch, class:"d-flex justify-content-end" do %>
              <p style="font-size: 20px; color: blue;"> DELETE</p>
            <% end %>
              </div>
      <% end %>
      <% end %>

      <% else %>

      <p style="color:white;font-size: 20px;"> Currently, you have not accepted any private requests</p>

      <% end %>

      <h3 style="color: #CCA459;"> DECLINED: </h3>
    <% if @declined_pbs != [] %>
          <% @declined_pbs.each do |brief| %>
      <%= link_to private_brief_path(brief) do %>
        <div> <p style="color:white;font-size: 20px;"> <%= brief.title %></p></div>
      <% end %>
      <% end %>
      <% else %>

      <p style="color:white;font-size: 20px;"> Currently, you have not declined any private requests</p>
      <% end %>



</div>


</div>


<div class="mybox "style="border: solid 1px; border-color:#CCA459; border-radius: 4px; padding: 16px;">

<h2 class="mb-5" style="text-decoration: underline; color:#CCA459; font-weight: bold; ">MY PAST AUDITIONS</h2>

<div class="row">


  <div class="col-6">


    <h3 style="color:#CCA459;">MY AUDITIONS</h3>
    <% if @myauditions ==[] %>
      <p style="color:white;font-size: 20px;">You have no auditions being reviewed at the moment.</p>
    <% else %>
      <% @myauditions.each do |audition| %>
        <%= link_to audition_path(audition) do %>
          <div> <p style="color:white;font-size: 20px;"> <%= audition.title %></p></div>
          <% end %>
          <% end %>
    <% end%>
    <br>
    </div>

<div class="col-6">


    <h3 style="color:#CCA459;">PRIVATE AUDITIONS.</h3>


    <% if @my_private_auditions ==[] %>
      <p style="color:white;font-size: 20px;"> You havent been selected for a private audition or have not yet submitted your audition video for your private auditions</p>

    <% else %>
      <% @my_private_auditions.each do |audition| %>
        <%= link_to private_audition_path(audition) do %>
          <div> <p style="color:white;font-size: 20px;"> <%= audition.title %></p></div>
          <% end %>
        <% end %>
    <% end%>

</div></div>


</div>

<br>




    <% else %>
<h2 class="mb-5" style="text-decoration: underline; color:#CCA459; font-weight: bold; ">COMPANY BRIEFS</h2>

    <div class="row"><div class="col-6">
    <h3 style="color: #CCA459;">SENT TO GENERAL PUBLIC</h3>

    <% @my_briefs.each do |brief| %>
      <%= link_to brief_path(brief) do %>
        <div> <p style="color:white;font-size: 20px;"> <%= brief.title %></p> </div>
    <% end %>
    <% end %>


    </div>

<div class="col-6">



    <h3 style="color: #CCA459;">SENT PRIVATELY</h3>
      <% @invite_briefs.each do |brief| %>
        <%= link_to private_brief_path(brief) do %>
          <div> <p style="color:white;font-size: 20px;"> <%= brief.title %></p> </div>
        <% end %>
      <% end %>


</div>
  </div>
    <% end %>


  </div>



</div>
