<% if @user.occupation == "Actor" %>
  <h3 style="color:white;">New Opportunities</h3>
  <% if @matching_briefs == []  %>
    <p style="color:white;">currently, there are no briefs that match your profile</p>

  <% else %>
    <% @matching_briefs.each do |brief| %>
      <div class="match">
        <%= link_to brief_path(brief) do %>
            <div>
              <p style="color:white;"><%= brief.title %></p>
            </div>
      </div>
        <% end %>
    <% end %>
  <% end %>
<br>





<h3 style="color:white;">Pending Auditions</h3>

<div class="audition-links">

<% if @myauditions ==[] %>
  <p style="color:white;">You have no auditions being reviewed at the moment.</p>
<% else %>
  <% @myauditions.each do |audition| %>
    <%= link_to audition_path(audition) do %>
      <div> <p style="color:white;"> <%= audition.title %></p></div>
      <% end %>
      <% end %>
<% end%>
<br>
<h3 style="color:white;">Private auditions I've submitted.</h3>


<% if @my_private_auditions ==[] %>
  <p style="color:white;"> You havent been selected for a private audition or have not yet <br> submitted your audition video for your private auditions</p>

<% else %>
  <% @my_private_auditions.each do |audition| %>
    <%= link_to private_audition_path(audition) do %>
      <div> <p style="color:white;"> <%= audition.title %></p></div>
      <% end %>
    <% end %>
<% end%>


</div>




<h2 style="color: white;"> You've: been personally requested for: </h2>

<% @my_private_briefs.each do |brief| %>
  <%= link_to private_brief_path(brief) do %>
    <div> <p style="color:white;"> <%= brief.title %></p></div>
  <% end %>
      <div>
        <%= link_to decline_path(brief), method: :patch, class:"d-flex justify-content-end" do %>
          <i class="fas fa-times" style="font-size: 20px; color: red;"></i>
        <% end %>
      </div>
<% end %>


<% else %>
<h3 style="color: white;">Briefs I've sent out</h3>

<% @my_briefs.each do |brief| %>
  <%= link_to brief_path(brief) do %>
    <div> <p style="color:white;"> <%= brief.title %></p> </div>
<% end %>
<% end %>


<h3 style="color: white;">Briefs I've sent privately</h3>
  <% @invite_briefs.each do |brief| %>
    <%= link_to private_brief_path(brief) do %>
      <div> <p style="color:white;"> <%= brief.title %></p> </div>
    <% end %>
  <% end %>
<% end %>
