<% if @user.occupation == "Actor" %>
<h3 style="color:white;">New Opportunities</h3>
<% if @matching_briefs == []  %>
      <p>currently, there are no briefs that match your profile</p>

<% else %>
    <% @matching_briefs.each do |brief| %>
    <div class="match">
<%= link_to brief_path(brief) do %>
  <div>
    <p><%= brief.title %></p>
  </div>

</div>
    <% end %>

<% end %>
<% end %>
<br>
<h3 style="color:white;">Pending Auditions</h3>
<% if @myauditions ==[] %>
<p>You have no auditions being reviewed at the moment</p>
<% end%>
<h2 style="color: white;"> You have been requested for the following: </h2>

<% @my_private_briefs.each do |brief| %>
<%= link_to private_brief_path(brief) do %>
<div> <p> <%= brief.title %></p> </div>
<% end %>
<% end %>

<% else %>
<h3 style="color: white;">Briefs I've sent out</h3>

<% @my_briefs.each do |brief| %>
<%= link_to brief_path(brief) do %>
<div> <p> <%= brief.title %></p> </div>
<% end %>
<% end %>


<h3 style="color: white;">Briefs I've sent privately</h3>
<% @invite_briefs.each do |brief| %>
<%= link_to private_brief_path(brief) do %>
<div> <p> <%= brief.title %></p> </div>
<% end %>
<% end %>

<% end %>




