<!DOCTYPE html>
<html>
  <head>
    <title>ENACTOR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

    <div class="main-container">
  <body style="background:black;">

    <%= render 'shared/nav_two' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= yield :after_js %>
  </body>
  <br>
  <br style="background-color:black;"><br><br><br><br>
    <%= render 'shared/footer' %>
  </div>
</html>


